@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerTelefono {
    width: 100%;
    height: 5.5vh;
    background-color: #222222;
    display: flex;
    justify-content:space-between;
    padding: 0 13% 0 13%;

}

.numeroTelefono{
    width: 205px;
    height: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
}
.numeroTelefono:hover{
    cursor: pointer;
}
.tel{
    height: 50%;
    margin-right: 5px;
}
.acceso {
    height: 100%;
    width: 180px;
    background-color:#f39c12;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Roboto, sans-serif;
    

}
.logoPersona {
    height: 50%;
    margin-right: 5px;
}
.acceso:hover {
    background-color: #D35400;
    cursor: pointer;
}
.headerMenu {
    background-color: aqua;
    width: 100%;
    height: 12.5vh;
    display: flex;
    align-items: center;
}
.logoEmpresa {
    height: 100%;
    
}

.listaMenu{
background-color:#222222;    
display: flex;
list-style: none;
}

.listaMenu li {
padding: 10px;
}

.listaMenu li a{
    text-decoration: none;
    color: white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 0.9rem;  
  
}
